.buttons {
  display: grid;
  place-items: center;
  text-align: center;
}
.buttons .button{
  width: 1152px;
}
.buttons .button .button-btn {
  padding: 24px 32px;
  transition: var(--transition);
  text-decoration: none;
  font-size: 18px;
  background: var(--color-btn);
  border-radius: 8px;
  color: var(--color-text);
  font-weight: 500;
  display: block;
  margin: 1rem;
}

.buttons .button .button-btn:nth-child(2) {
  display: none;
}

.buttons .button .button-btn:hover {
  background: var(--color-btn-variant);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
/* ============= MEDIA QUERIES (MEDIUM DEVICES) ================= */
@media screen and (max-width: 1024px) {
  .buttons .button  {
    width: 643px;
  }
}

/* ============= MEDIA QUERIES (SMALL DEVICES) ================= */
@media screen and (max-width: 600px) {
  .buttons .button {
    width: 343px;
  }
}
